---
 const personalImageAlt = "Juan Esteban"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy un gran apasionado por la implementación de soluciones tecnológicas. Me motiva resolver problemas complejos y afrontar desafíos técnicos que me impulsan a aprender e innovar constantemente. Mi enfoque está en generar un valor significativo, aportando soluciones con propósito y eficiencia en cada proyecto</strong
      >.
    </p>

    <p>
      <strong>Actualmente, me encuentro en la búsqueda de nuevas oportunidades laborales en las que pueda aportar mis habilidades y conocimientos en el desarrollo de software, con un enfoque en la calidad y la mejora continua.</strong> 🚀✅
    </p>
  </div>

  <img width="200" height="200" src="./pictures/sobre-mi.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>