---
const personalImageAlt = "Juan Esteban";
---

<article
  class="flex flex-col items-center justify-center mb-12 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Juan Esteban, comencé en el mundo del desarrollo de software en 2023
      estudiando en el CESDE, pero siempre he sido un absoluto fanático de la
      tecnologia en general, me encanta como el desarrollo te propone retos
      logicos y entrega soluciones útiles para problemas complejos, actualmente
      me encuentro <strong
        >enfocado en el desarrollo backend y en arquitectura DevOps</strong
      > aunque tambien tengo un gran gusto por el frontend y el diseño web.
    </p>
    Estoy abierto a participar en proyectos interesantes. Me apasiona seguir aprendiendo
    continuamente para mejorar mis habilidades y lograr ser cada vez más ambivalente
    y versátil en el desarrollo de software.
    <p></p>
  </div>

  <img
    width="200"
    height="200"
    src="./pictures/identityImage.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
