---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Aprendíz de desarrollo y DevOps",
    company: "SURA",
    description:
      "Trabajo en el desarrollo e implementación de sistemas de Pipelines de CI/CD en Azure DevOps para todo tipo de aplicativos en la compañia transversales a un montón de equipos.",
  },
  {
    date: "JUN 2023 - DEC 2024",
    title: "Técnico Laboral como Asistente en Desarrollo de Software",
    company: "CESDE",
    description:
      "¡Aquí empecé de lleno en el mundo del desarrollo de software!, en el CESDE aprendí Java/Springboot, bases de datos, python/FastAPI, frontend/React y metodologías ágiles.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
