---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "DEC 2023 - Actualmente...",
    title: "Aprendíz de desarrollo y DevOps",
    company: "SURA",
    description:
      "Durante mi experiencia laboral, logré importantes mejoras en la eficiencia y reducción de costos. Implementé prácticas de CI/CD que redujeron los tiempos de despliegue en más del 80%, mejorando la entrega de software y minimizando errores. Además, migré procesos de descarga de documentos desde Logic Apps en Azure hacia un microservicio basado en Spring WebFlux, lo que generó un ahorro estimado de $4,000 mensuales y optimizó la escalabilidad, flexibilidad y rendimiento. También participé en la migración masiva de la plataforma Jenkins a Azure DevOps, optimizando la gestión de repositorios remotos y la implementación de pipelines.",
  },
  {
    date: "JUN 2023 - DEC 2024",
    title: "Técnico Laboral como Asistente en Desarrollo de Software",
    company: "CESDE",
    description:
      "¡Aquí empecé de lleno en el mundo del desarrollo de software!, en el CESDE aprendí Spring, bases de datos, FastAPI, React y metodologías ágiles.",
  },
];
---

<ol class="relative mt-2">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
