---
const currentYear = new Date().getFullYear()
---

<footer class="bg-gray-100 dark:bg-gray-900 py-3 mt-16 opacity-95 dark:opacity-75">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-4">
    <div class="text-center md:text-left mb-4 md:mb-0">
      <p class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90">
        © {currentYear} 
        <a href="https://github.com/YugenDev" class="text-blue-500 hover:underline">YugenDev</a>
        . Casi todos los derechos reservados hehe.
      </p>
    </div>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0">
      <li>
        <a href="/#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a id="contacto" href="mailto:yugoso8512@gmail.com" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
