<header class="flex justify-between items-center py-4 w-[1120px]">
  <img class="rounded-full w-12 h-12" src="https://avatars.githubusercontent.com/u/138255902?v=4" alt="yugendev photo" />
  <nav class="flex flex-row gap-x-10 opacity-95">
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Projects</a>
    <a href="">Contact</a>
  </nav>
</header>
